.fud-widget-wrapper .fud-img { text-align: center; width: 1%; padding-left: 10px; }
.fud-widget-wrapper img {  vertical-align: middle; max-width: 32px; max-height: 32px; margin: 0; border-radius: 2px; }
